<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297871858280-0rsibcpe60g90t68v6358cnrcgogsg9b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297871858280-0rsibcpe60g90t68v6358cnrcgogsg9b</string>
	<key>API_KEY</key>
	<string>AIzaSyAkvVl4BRT7-ivJic2580OgcqBF2kBfNFg</string>
	<key>GCM_SENDER_ID</key>
	<string>297871858280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uectas.ba.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchat-ios13-fa027</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-ios13-fa027.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297871858280:ios:1b66e845e879fbffbd39dd</string>
	<key>DATABASE_URL</key>
	<string>https://flashchat-ios13-fa027.firebaseio.com</string>
</dict>
</plist>